.navbar
{
  margin-bottom: 0px !important;
}
.panel-heading
{
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  background-color: #f1e9d2!important;
}
.table
{
  text-align: center;
  background-color: #f1e9d2;
}
table.auto
{
  table-layout: auto;
  text-align: center;
}
th
{
  text-align: center;
}
.center
{
  position: absolute;
  float: none;
}
.text-center
{
  text-align: center;
}
.text-right
{
  text-align: right;
}
.bg
{
  background: url(/static/Cag-Field.jpg) no-repeat center center fixed;
  background-size: cover;
}
h1, h2, h3
{
  color: black;
}
.divbg
{
  background-color: #f1e9d2;
}
