.navbar
{
  margin-bottom: 0px !important;
}
.panel-heading
{
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
}
.table
{
  text-align: center;
}
table.auto
{
  table-layout: auto;
  text-align: center;
}
th
{
  text-align: center;
}
.center
{
  position: absolute;
  float: none;
}
.text-center
{
  text-align: center;
}
.text-right
{
  text-align: right;
}
