{% extends "base.html" %}
{% block home %}active{% endblock %}
{% block content %}
<div class="pannel panel-default col-md-12">
  <div class="panel-heading">
    <h1 class="text-center divbgtext">CAG Stats</h1>
    <h2 class="text-center divbgtext">The home of the stats for the CAG NFL</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="divbg">
        <h1 class="text-center divbgtext">Champions Wall</h1>
        <h3 class="text-center divbgtext">Located at CAG Headquarters</h3>
      </div>
      <img src="/static/DazzoTrophyWall.png" class="img-responsive" id="champions-wall" onmouseover="" style="cursor: pointer;">
    </div>
    <div class="col-md-6">
      <div class="col-md-8 col-md-offset-2">
        <br>
        <div class="panel-heading divbgtext">
          <h1 class="divbgtext">Last 5 Games Played</h1>
        </div>
        <br>
        {% for game in last_five %}
        <div class="panel-heading divbgtext">
          {% if game.home_score > game.away_score: %}
              {{ game.home.team_name }} defeat {{ game.away.team_name }} {{ game.home_score }} to {{ game.away_score }}
          {% else %}
              {{ game.away.team_name }} defeat {{ game.home.team_name }} {{ game.away_score }} to {{ game.home_score }}
          {% endif %}
        </div>
        <table class="table table-lined auto">
            <thead>
                <tr><th>{{ game.away.team_name }} - {{ game.away_score }}</th><th>Stats</th><th>{{ game.home.team_name }} - {{ game.home_score }}</th></tr>
            </thead>
            <tbody>
                <tr><td>{{ game.away_total_yards }}</td><td>Total Yards</td><td>{{ game.home_total_yards }}</td></tr>
                <tr><td>{{ game.away_passing_yards }}</td><td>Passing Yards</td><td>{{ game.home_passing_yards }}</td></tr>
                <tr><td>{{ game.away_rushing_yards }}</td><td>Rushing Yards</td><td>{{ game.home_rushing_yards }}</td></tr>
                <tr><td>{{ game.away_turn_overs }}</td><td>Turnovers</td><td>{{ game.home_turn_overs }}</td></tr>
                <tr><td>{{ game.away_qbr }}</td><td>QBR</td><td>{{ game.home_qbr }}</td></tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
  </div>
  <div class="col-md-3">
    <br>
    <div class="panel-heading divbgtext">
      <h1 class="divbgtext">Current Season</h1>
    </div>
    <div class="col-md-12 divbg">
      <h1 class="divbgtext text-center">
        Season 50
      </h1>
  </div>
</div>
<script>
$("#champions-wall").click(function() {
  $.colorbox({href:"/static/DazzoTrophyWall.png"});
});
</script>
{% endblock %}
