{% extends "base.html" %}
{% block home %}active{% endblock %}
{% block content %}
<div class="pannel panel-default col-md-12">
  <div class="panel-heading">
    <h1 class="text-center divbgtext">CAG Stats</h1>
    <h2 class="text-center divbgtext">The home of the stats for the CAG NFL</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="divbg">
        <h1 class="text-center divbgtext" >CAG Champion</h1>
        <h1 class="text-center divbgtext">Dazzo0007</h1>
      </div>
      <img src="/static/Cag-Champion-Roster.gif" class="img-responsive" id="champion" onmouseover="" style="cursor: pointer;">
      <br>
      <div class="divbg">
        <h1 class="text-center divbgtext">Champions Wall</h1>
        <h3 class="text-center divbgtext">Located at CAG Headquarters</h3>
      </div>
      <img src="/static/DazzoTrophyWall.png" class="img-responsive" id="champions-wall" onmouseover="" style="cursor: pointer;">
    </div>
    <div class="col-md-6">
      <div class="col-md-8 col-md-offset-2">
        <div class="divbg">
          <h1 class="text-center divbgtext">Game of the Week</h1>
        </div>
        <div class="divbg">
          <h3 class="divbgtext text-center">Week 1</h3>
          <p class="divbgtext text-center">Bears @ Chiefs</p>
          <h3 class="divbgtext text-center">Week 2</h3>
          <p class="divbgtext text-center">Oilers @ Ravens</p>
          <h3 class="divbgtext text-center">Week 3</h3>
          <p class="divbgtext text-center">Oilers @ Chiefs</p>
          <h3 class="divbgtext text-center">Week 4</h3>
          <p class="divbgtext text-center">Steelers @ Giants</p>
          <p class="divbgtext text-center">[New Player Bowl]</p>
          <h3 class="divbgtext text-center">Week 5</h3>
          <p class="divbgtext text-center">Ravens @ Packers</p>
          <h3 class="divbgtext text-center">Week 6</h3>
          <p class="divbgtext text-center">Packers @ Bears</p>
          <p class="divbgtext text-center">[Dazzo Bowl]</p>
          <h3 class="divbgtext text-center">Week 7</h3>
          <p class="divbgtext text-center">Ravens @ Bears</p>
          <h3 class="divbgtext text-center">Week 8</h3>
          <h4 class="divbgtext text-center">Double Header</h4>
          <p class="divbgtext text-center">Packers @ Oilers</p>
          <p class="divbgtext text-center">Chiefs @ Chargers</p>
          <h3 class="divbgtext text-center">Week 9</h3>
          <p class="divbgtext text-center">Browns @ Steelers</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="divbg">
        <h1 class="text-center divbgtext">Helpful Links</h1>
        <h2 class="text-center"><a href="http://gamingworldforums.com/discuss/index.php?/forum/900-all-pro-football/">CAG NFL</a></h2>
        <h2 class="text-center"><a href="http://www.scheduleague.com/xlv">Schedule</a></h2>
      </div>
    </div>
  </div>
</div>
<script>
$("#champion").click(function() {
  $.colorbox({href:"/static/Cag-Champion-Roster.gif"});
});
$("#champions-wall").click(function() {
  $.colorbox({href:"/static/DazzoTrophyWall.png"});
});
</script>
{% endblock %}
