{% extends "base.html" %}
{% block standings %}active{% endblock %}
{% block content %}
<div class="col-md-8 col-md-offset-2 divtable">
  <table class="table table-lined" id="standings">
    <thead>
      <th class="sorting">Team Owner</th>
      <th class="sorting">Team Name</th>
      <th class="sorting">Wins</th>
      <th class="sorting">Losses</th>
  </table>

  <script>
  $.get('./raw/standings').done(function(standings){
    var data = JSON.parse(standings)

    $('#standings').DataTable( {
      order: [[ 2, 'desc' ], [3, 'asc']],
      paging: false,
      data: data,
      "aoColumns": [
        { 'mData': "owner" },
        { 'mData': "team" },
        { 'mData': "wins" },
        { 'mData': "losses" }
      ]
    });
  });
  </script>
</div>
{% endblock %}
